.bodyContain {
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 94vh;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

.quiz-card {
    width: 35rem;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success, .bg-danger {
    color: white !important;
}

.mb-3 {
    margin-top: 1rem;
    margin-right: 1rem;
}

.card-body img {
    width: 80px;
    margin-bottom: 1rem;
}

.card-body {
    margin-bottom: 1rem;
}
.endCardButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display {
    display: flex;
    align-items: center;
    justify-content: space-around;
}