.bodyContain {
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 94vh;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.quiz-card {
    width: 35rem;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success, .bg-danger {
    color: white !important;
}